<title><%=pageTitle%></title>
<meta charset="utf-8">
<meta name="active-menu" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Import bootstrap min css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!--Custom bootstrap theme -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!--User modified css-->
<link rel="stylesheet" href="/css/styles.css"><link rel="stylesheet">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<!--Favicon-->
<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
