<title><%=pageTitle%></title>
<meta charset="utf-8">
<meta name="active-menu" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Import bootstrap min css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!--Custom bootstrap theme -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!--User modified css-->
<link rel="stylesheet" href="/css/styles.css"><link rel="stylesheet">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<!--Favicon-->
<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
<!--Scripts to import jquery and bootstrap to manage the template-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://kit.fontawesome.com/e7bdeb3eda.js" crossorigin="anonymous"></script>-->
<!--Javascript-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />-->
<link rel="stylesheet" type="text/css" href="/css/jquery.modal.min.css" />
<!-- jQuery Modal -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>-->