<%- include('includes/head.ejs') %>
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p><strong>Error on request:</strong></p>
    <p><%=error%></p>
</div>
<br>
<div class="row">
    <div class="col-lg-5">
        <img src="https://i.imgur.com/xlxXq.gif">
    </div>
</div>

<%- include('includes/end.ejs') %>
